{% extends 'users/base.html' %}

{% block title %}Sales Orders{% endblock %}

{% block content %}
    <h2>Sales Orders</h2>
    <a href="{% url 'orders_new' %}" class="btn btn-primary">Create New Order</a>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Venta</th>
            </tr>
        </thead>
        <tbody>
            {% for remision in remisiones %}
            <tr>
                <td>{{ remision.id_remision }}</td>
                <td>{{ remision.fecha }}</td>
                <td>{{ remision.cliente_id }}</td>
                <td>{{ remision.venta_id }}</td>
                <td>
                    <a href="{% url 'orders_edit' rem.id_remision %}">Edit</a>
                    <a href="{% url 'orders_delete' rem.id_remision %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
